body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  margin-bottom: 0px;
}
/* Banner */
#banner {
  height: 357px;
  background: url('../images/tile_background.png');
}
/* Headline area */
#headline {
  color: white;
  margin: auto;
  max-width: 1140px;
  padding: 20px;
}
#title-name{
  text-shadow: 1px 1px #8B814C;
  font-family: cuprum;
  font-size: 56px;
}
#headline-summary {
  background-color: #FFF;
  border-radius: 3px;
  max-width: 450px;
  padding: 10px;
}
#headline-summary > p {
  color: #000;
}
#headline-summary-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 37px;
  border-color: transparent transparent transparent #FFF;
  margin-left: 40px;
}

p {
  text-indent: 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px !important;
  color: #616161;
}
.navbar-brand {
  color:white !important;
}

/* Skill Picture Stuff */
.skillset-picture-circle {
  height: 100px;
  width: 100px;
  background-color: orange;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  /* -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000; */
  box-shadow:         inset 0 2px 5px #4F4F4F;
}
#design-micro-image {
  background-image: url("../images/design_logo.png");
  background-repeat: no-repeat;
  background-position: -20px;
}
#javascript-micro-image {
  background-image: url("../images/javascript_logo.png");
  background-repeat: no-repeat;
  background-position: -20px;
}
h2 {
  text-align: center;
}
hr {
  color: #A8A8A8;
}
#pageHeader {
  color: white;
  font-size: 36px;
}
#navigation-bar {
  background-color: black;
}


a {
  transition: color 0.7s;
}

/* !!!!!!!!!!!!!!!!!!!!!!! News Panel Stuff !!!!!!!!!!!!!!!!!!!!!!! */

/* Panel Wrapper */
.news-panel-wrapper {
  border: 1px solid white;
  border-radius: 6px;
  transition: border 0.5s;
  padding: 10px;
  margin-bottom: 14px;
}

/* News Panel */
.news-panel {
  width: 280px;
  /* border: 1px solid black; */
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.5s;
  padding: 10px;
}
.news-fade {
  height: 50px;
  position: relative;
  transition: opacity .5s;
  background: linear-gradient(to bottom,rgba(255,0,0,0), white);
  bottom: 40px; /* height of div minus height of fade */
}
/* Panel Button */
.read-more-button {
  color: #05E9FF;
  background-color: white;
  border: 1px solid #05E9FF;
  padding: 6px;
  border-radius: 6px;
  margin-top: 6px;
  outline: none;
  transition: background-color 0.5s;
}

.read-more-button:hover {
  background-color: #05E9FF;
  color: white;
}
/* Skill Image Section */
#skill-bar-wrapper {
  height: 90px;
  margin: 10px;
}
#skill-pic-wrapper {
  height: 100%;
  max-width: 1140px;
  margin: auto;
  text-align: center;
}
#skill-pic-wrapper > div {
  height: 100%;
  width: 70px;
  display: inline-block;
  text-align: center;
  color: black;
  margin: 0px 4px;
}
.pic-holder {
  height: 70px;
  background-color: #FFF;
}

/* About section */
#about-section {
  background-color: #000;
  padding: 20px 0px 20px 0px;
}
#about-section h2 {
  text-align: left;
  font-family: cuprum;
  color: #FFF;
}
#about-section p {
  color: #C0C0C0;
}
/* special holly thing */
#lovely-lady {
  color: white;
}
#holly-wrapper {
  width: 200px;
  border: 3px solid #FFF;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  display: none;
  visibility: hidden;
}
#holly-wrapper img {
  width: 100%;
  height: auto;
}
.flash {
  border: 3px solid #000;
}

/* My Picture */
#profile-wrapper {
  display: inline-block;
  border: 3px solid #C0C0C0;
  max-width: 240px;
  margin: 20px 0px;
}
#picture-of-me {
  max-width: 100%;
}

/* Footer */
.custom-footer {
  background-color: #05E9FF;
}
#take-credit {
  color: black;
}
