
*{
  color: red;
}
/* wraps entire gallery */
#gallery-wrapper {
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

/* Upper group of stuff, main image display etc */
#gallery-upper {
  min-height: 300px;
  height: 800px;
  width: 100%;
}

/* position the svg arrows */
#right-arrow-svg, #left-arrow-svg {
  display: block;
  margin: auto;
  position: relative;
  top: 40%;

}

line {
  opacity: 50%;
}

/* lower group, image selection */
#gallery-lower {
  height: 200px;
  width: 100%;
}

/* showcase image wrapper */
#showcase-image {
  padding: 10px;
}

/* showcase image */
#showcase-image > img {
  height: 100%;
  width: 100%;
}

/* showcase image text */
#image-description-text {
  padding: 20px;
  color: #BABABA;
}
#image-description-text > span {
  color: #BABABA;
}

/* tryptic panels, 3 instances of these */
.left-panel, .center-panel, .right-panel {
  box-sizing: border-box;
  display: inline-block;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}
.left-panel {
  width: 15%;
  background-color: #1A1A1A;
  float: left;
}
.center-panel {
  width: 70%;
  background-color: #0F0F0F;
}
.right-panel {
  width: 15%;
  background-color: #1A1A1A;
  float: right;
}
